# dependencies
node_modules/

# firebase
.firebase/

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/

# build outputs
/dist/
/build/
/coverage/
